<button mat-raised-button color="primary" class="add" data-bs-toggle="modal" data-bs-target="#add"><i class="fa fa-plus-circle fa-lg"></i> Ajouter </button>
   <!-- Modal -->
   <div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel">Ajouter formation</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addFormation()">
  
            <div class=" row">
                <div class=" col-md-6 pr-md-1">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Type formation</mat-label>
                        <input matInput  [(ngModel)]="formation.typeFormation" [ngModelOptions]="{standalone : true}">
                      </mat-form-field>
                </div>
  
                <div class=" col-md-6 pr-md-1">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Durée (heure)</mat-label>
                        <input type="number" matInput [(ngModel)]="formation.duration" [ngModelOptions]="{standalone : true}">
                      </mat-form-field>
                </div>
            </div>
  
           
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Démarrage</mat-label>
                      <input type="date" matInput [(ngModel)]="formation.start" [ngModelOptions]="{standalone : true}" >
                    </mat-form-field>
              </div>
  
              <div class=" col-md-5 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Clôture</mat-label>
                      <input type="date" matInput [(ngModel)]="formation.end" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>

          <div class=" row">
            <div class=" col-md-6 pr-md-1">
                <mat-form-field class="example-full-width" >
                    <mat-label>Formateur</mat-label>
                    <input type="text" matInput  [(ngModel)]="formation.formateur" [ngModelOptions]="{standalone : true}">
                  </mat-form-field>
            </div>
            <div class=" col-md-6 pr-md-1">
              <mat-form-field class="example-full-width" >
                  <mat-label>Prix</mat-label>
                  <input  type="number" matInput [(ngModel)]="formation.price" [ngModelOptions]="{standalone : true}">
                </mat-form-field>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary" >Ajouter</button>
        </div>

        </form>
        </div>
      
      </div>
    </div>
  </div>


<h2 class="font-medium mb-3">Liste des formations</h2>
<h3 class="card-subtitle text-muted"> Nombre de salles: {{formations.length}}</h3>

<!-- Row -->
<div class="row pt-4" >

  
  <!-- column -->
  <div class="col-lg-3 col-md-6" *ngFor="let formation of formations">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/formation.png"
        alt="Card image cap"
      />
      
      <div class="card-body">
        <h4 class="card-title">{{formation.typeFormation}} ({{formation.duration}}h)</h4>
        
        <p class="card-text">
       {{formation.start | date}}  -  {{formation.end | date}}
         </p>
        
         <p class="card-text">
          Formateur: {{formation.formateur}}
         </p>
         <p class="card-text">
          Prix: {{formation.price}} Dt
         </p>

         <p class="card-text text-danger" *ngIf="checkDate(formation.start,formation.end)=='finished'">
          terminé
         </p>
         <p class="card-text text-success" *ngIf="checkDate(formation.start,formation.end)=='onGoing'" >
           en cours
          </p>
          <p class="card-text text-warning" *ngIf="checkDate(formation.start,formation.end)=='notStarted'">
           pas commencer
          </p>
   
        <button mat-icon-button class="edit" (click)="update(formation._id)" data-bs-toggle="modal" data-bs-target="#edit"> 
          <i class="fas fa-edit fa-lg"></i>
      </button>

<button mat-icon-button color="warn" class="delete" (click)="deleteFormation(formation._id)">
<mat-icon >delete</mat-icon>
</button>


      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->


      <!-- Modal -->
   <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel">Edit formation</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addFormationForm="ngForm">
  
            <div class=" row">
                <div class=" col-md-6 pr-md-1">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Type formation</mat-label>
                        <input type="text" matInput  [(ngModel)]="updatedFormation.typeFormation" [ngModelOptions]="{standalone : true}">
                      </mat-form-field>
                </div>
  
                <div class=" col-md-6 pr-md-1">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Durée (heure)</mat-label>
                        <input type="number" matInput [(ngModel)]="updatedFormation.duration" [ngModelOptions]="{standalone : true}">
                      </mat-form-field>
                </div>
            </div>
  
           
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Démarrage</mat-label>
                      <input type="date" matInput [(ngModel)]="updatedFormation.start" [ngModelOptions]="{standalone : true}" >
                    </mat-form-field>
              </div>
  
              <div class=" col-md-5 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Clôture</mat-label>
                      <input type="date" matInput [(ngModel)]="updatedFormation.end" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>

          <div class=" row">
            <div class=" col-md-6 pr-md-1">
                <mat-form-field class="example-full-width" >
                    <mat-label>Formateur</mat-label>
                    <input type="text" matInput  [(ngModel)]="updatedFormation.formateur" [ngModelOptions]="{standalone : true}">
                  </mat-form-field>
            </div>
            <div class=" col-md-6 pr-md-1">
              <mat-form-field class="example-full-width" >
                  <mat-label>Prix</mat-label>
                  <input type="number" matInput [(ngModel)]="updatedFormation.price" [ngModelOptions]="{standalone : true}">
                </mat-form-field>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary" (click)="updateFormation()" >Edit</button>
        </div>

        </form>
        </div>
      
      </div>
    </div>
  </div>

  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">

  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">

  </div>
</div>
<!-- Row -->