
  <div class="card">
    <div class="card-body">
      <div id="add-fix" data-bs-toggle="modal" data-bs-target="#add"></div>
        <button mat-raised-button color="primary" class="add"  ><i class="fa fa-plus-circle fa-lg"></i>  Ajouter </button>
       
        <!-- Modal -->
<div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">Ajouter formateur</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addFormateurForm="ngForm" (ngSubmit)="addFormateur()">

          <div class=" row">
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>First name</mat-label>
                      <input matInput   [(ngModel)]="user.firstName" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>

              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Last name</mat-label>
                      <input matInput  [(ngModel)]="user.lastName" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>

          <div class=" row">
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Email</mat-label>
                      <input type="email" matInput   [(ngModel)]="user.email" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>

              <div class=" col-md-5 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>New Password</mat-label>
                      <input type="password" matInput  [(ngModel)]="user.password" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>

          <div class=" row">
            <div class=" col-md-6 pr-md-1">
                <mat-form-field class="example-full-width" >
                    <mat-label>CIN</mat-label>
                    <input type="number" matInput   [(ngModel)]="user.cin" [ngModelOptions]="{standalone : true}">
                  </mat-form-field>
            </div>

            <div class=" col-md-5 pr-md-1">
                <mat-form-field class="example-full-width" >
                    <mat-label>Date de naissance</mat-label>
                    <input type="date" matInput  [(ngModel)]="user.birthday" [ngModelOptions]="{standalone : true}">
                  </mat-form-field>
            </div>
        </div>


          <div class=" row ">

            <div class=" col-md-6 pr-md-1">
              <mat-form-field class="example-full-width" >
                  <mat-label>Tel</mat-label>
                  <input type="number" matInput   [(ngModel)]="user.tel" [ngModelOptions]="{standalone : true}">
                </mat-form-field>
          </div>
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Salaire</mat-label>
                      <input type="number" matInput   [(ngModel)]="user.salary" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="annuler">Annuler</button>
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
      </form>
      </div>
      
    </div>
  </div>
</div>


  <h4 class="card-title">Liste des formateurs</h4>
      <h5 class="card-subtitle text-muted"> Nombre formateurs :{{filter(users).length}} </h5>
      <div class="table-responsive">
        
        <table class="table align-middle text-nowrap">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4 ">Full Name</th>
                    <th class="text-dark font-medium fs-4 text-center">Cin</th> 
                    <th class="text-dark font-medium fs-4 text-center">Tel</th>
                    <th class="text-dark font-medium fs-4 text-center">Date de naissance</th>
                    <th class="text-dark font-medium fs-4 text-center">Salaire</th>
                     <th class="text-dark font-medium fs-4 text-center">Liste des apprenants</th> 
                     <th class="text-dark font-medium fs-4 text-center">Actions</th> 
                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let formateur of filter(users)' >


                    <td>
                      <div class="d-flex align-items-center">
                            <div class="ms-1">
                                <h5 class="mb-0 font-medium">{{formateur.firstName}} {{formateur.lastName}}</h5>
                                <span class="text-muted">{{formateur.email}}</span>
                            </div>
                          </div>
                    </td>


                    <td class="fs-4 text-center">{{formateur.cin}}</td>
                    <td class="fs-4 text-center">{{formateur.tel}}</td>
                    <td class="text-center">
                        <h5 class="mb-0 fw-normal">{{formateur.birthday}}</h5>
                   </td>
                   
                     <td class="text-center">
                       <h5 class="mb-0 fw-normal">{{formateur.salary}} Dt</h5>
                    </td>
                    
                   
                    <td class="text-center">
                      <button mat-mini-fab color="primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-chalkboard-teacher"></i>
                          </button>
                          <h5 class="mb-0 fw-normal">{{formateur.studentsList}}</h5>


                          <!-- Model 3 -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Liste des apprenants</h5>
                                  <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                   <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Liste des apprenants</h4> 
                                       <div class="table-responsive">
                                          <table class="table align-middle text-nowrap">
                                              <thead>
                                                <tr>
                                                      <th class="text-dark font-medium fs-4">Full Name</th>
                                                      <th class="text-dark font-medium fs-4">email</th>
                                                      <th class="text-dark font-medium fs-4">CIN</th>
                                                      <th class="text-dark font-medium fs-4">tel</th>
                                                    </tr>
                                              </thead>
                                              <tbody>
                                                  <tr *ngFor='let student of formateur.studentsList'>
                                                    <td>
                                                          <div class="d-flex align-items-center">
                                                            <!-- <img [src]=ts.image alt="formateur" width="45" class="rounded-circle"> -->
                                                              <div class="ms-3">
                                                                  <h5 class="mb-0 font-medium">mohamed aabid</h5>
                                                                  <span class="text-muted">mohamed@gmail.com</span>
                                                              </div>
                                                          </div>
                                                      </td>
                                                      <td class="fs-4">20504096</td>
                                                      
                                                       <td>
                                                           <h5 class="mb-0 fw-normal">{{student.salary}}</h5>
                                                          </td>
                                                          <td>
                                                          <button mat-mini-fab color="primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            <i class="fas fa-chalkboard-teacher"></i>
                                                            </button>
                                                          <h5 class="mb-0 fw-normal">{{student.studentsList}}</h5>
                                                          
                                                          
                                                      </td> 
                                                  </tr>              
                                                </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                                </div>
                              </div>
                            </div>
                          </div>
                    </td>
                    
                    <td class="text-center">
                      <button mat-icon-button  (click)="update(formateur._id)" data-bs-toggle="modal" data-bs-target="#edit" >   
                        <i class="fas fa-edit fa-lg"></i>
                      </button>
<button *ngIf="isAdmin" (click)="deleteFormateur(formateur._id)" mat-icon-button color="warn" class="me-2" >
  <mat-icon >delete</mat-icon>
</button>


</td>
<!-- Modal -->
<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">Edit formateur</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addApprenantForm="ngForm" >

          <div class=" row">
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>First name</mat-label>
                      <input matInput   [(ngModel)]="updatedUser.firstName" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>

              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Last name</mat-label>
                      <input matInput  [(ngModel)]="updatedUser.lastName" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>

          <div class=" row">
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Email</mat-label>
                      <input type="email" matInput  [(ngModel)]="updatedUser.email" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>

              <div class=" col-md-5 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Password</mat-label>
                      <input type="password" matInput  [(ngModel)]="updatedUser.password" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>

          <div class=" row">
            <div class=" col-md-6 pr-md-1">
                <mat-form-field class="example-full-width" >
                    <mat-label>CIN</mat-label>
                    <input type="number" matInput   [(ngModel)]="updatedUser.cin" [ngModelOptions]="{standalone : true}">
                  </mat-form-field>
            </div>

            <div class=" col-md-5 pr-md-1">
                <mat-form-field class="example-full-width" >
                    <mat-label>Date de naissance</mat-label>
                    <input type="date" matInput  [(ngModel)]="updatedUser.birthday" [ngModelOptions]="{standalone : true}">
                  </mat-form-field>
            </div>
        </div>


          <div class=" row ">

            <div class=" col-md-6 pr-md-1">
              <mat-form-field class="example-full-width" >
                  <mat-label>Tel</mat-label>
                  <input type="number" matInput   [(ngModel)]="updatedUser.tel" [ngModelOptions]="{standalone : true}">
                </mat-form-field>
          </div>
              <div class=" col-md-6 pr-md-1">
                  <mat-form-field class="example-full-width" >
                      <mat-label>Salaire</mat-label>
                      <input type="number" matInput   [(ngModel)]="updatedUser.salary" [ngModelOptions]="{standalone : true}">
                    </mat-form-field>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="annuler2">Annuler</button>
            <button type="submit" class="btn btn-primary" (click)="updateUser()">Edit</button>
          </div>
      </form>
      </div>
      
    </div>
  </div>
</div>

</tr>              
            </tbody>
          </table>
    </div>
  </div>
</div>